.card-modal-popup {
  max-width: 60vw;
  max-height: 60vh;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #fff;
}

.new-appointment-modal-container {
  background-color: #fff;
  .side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .modal-content-container {
    height: 60%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .left-side-modal-content {
      padding: 20px;
      width: 60%;

      .modal-title-label {
        font-size: 20pt;
        margin-bottom: 20px;
        font-weight: bold;
      }

      .modal-form-wrapper {
        .appointment-request-form {
          .hide {
            display: none;
          }
          .appointment-details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &.hide {
              display: none;
            }

            .MuiInputBase-root {
              .MuiSelect-root {
                width: 200px;
              }
            }

            .appointment-label {
              min-width: 150px;
              font-weight: bold;
              display: flex;
              flex-direction: row;
              align-items: center;
            }

            .view-details-button {
              background-color: #2b2b2b;
              color: #fff;
              margin-left: 20px;
            }
          }

          .consult-required-wrapper {
            .side-by-side-together {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;

              .text-label {
                margin-right: 20px;
              }
            }
            .video-consult-wrapper {
              .video-consult-input {
                margin-top: 20px;
                width: 100%;

                .MuiTextField-root {
                  width: 100%;
                }
              }
            }
          }

          .input-field {
            margin: 10px;
            font-size: 16pt;
            font-weight: lighter;
          }
        }
      }
    }

    .right-side-modal-content {
      padding: 20px;
      width: 40%;

      .images-container {
        border-bottom: #2b2b2b 1px solid;
        padding-bottom: 20px;
        .images-label {
          font-size: 16pt;
          font-weight: bold;
        }
        .upload-image-button {
          background-color: #2b2b2b;
          color: #fff;
          margin-left: 20px;
        }

        .images-list {
          margin-top: 20px;
          font-size: 14pt;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .notes-container {
        .notes-label {
          margin-top: 20px;
          font-size: 16pt;
          font-weight: bold;
        }

        .notes-input {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          .input-field-notes {
            width: 100%;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .modal-footer-container {
    height: 20%;
    width: 100%;
    display: flex;
    border-top: 1px #2b2b2b solid;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .button-wrapper {
      width: 200px;
      max-height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 20px 0 20px 0;
      .save-button {
        background-color: rgb(21, 165, 21);
        transition: all 1s;
      }
      .save-button:hover {
        background-color: rgba(21, 165, 21, 0.76);
        transform: scale(1.1);
      }
    }
  }
}

.consult-requested-modal-container {
  background-color: #fff;
  .side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .modal-content-container {
    height: 60%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .left-side-modal-content {
      padding: 20px;
      width: 60%;

      .modal-title-label {
        font-size: 20pt;
        margin-bottom: 20px;
        font-weight: bold;
      }

      .modal-form-wrapper {
        .consult-request-form {
          .appointment-details {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            .appointment-label {
              margin-right: 20px;
              font-weight: bold;
            }

            .view-details-button {
              background-color: #2b2b2b;
              color: #fff;
              margin-left: 20px;
            }
          }

          .video-consult-wrapper {
            .hide {
              display: none;
            }
            .video-consult-input {
              margin-top: 20px;
              width: 100%;

              .MuiTextField-root {
                width: 100%;
              }
            }
            .side-by-side-together {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;

              .text-label {
                margin-left: 20px;
              }
            }
          }

          .input-field {
            margin: 10px;
            font-size: 16pt;
            font-weight: lighter;
          }
        }
      }
    }

    .right-side-modal-content {
      padding: 20px;
      width: 40%;

      .images-container {
        border-bottom: #2b2b2b 1px solid;
        padding-bottom: 20px;
        .images-label {
          font-size: 16pt;
          font-weight: bold;
        }
        .upload-image-button {
          background-color: #2b2b2b;
          color: #fff;
          margin-left: 20px;
        }

        .images-list {
          margin-top: 20px;
          font-size: 14pt;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .notes-container {
        .notes-label {
          margin-top: 20px;
          font-size: 16pt;
          font-weight: bold;
        }

        .notes-input {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          .input-field-notes {
            width: 100%;
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .modal-footer-container {
    height: 20%;
    width: 100%;
    display: flex;
    border-top: 1px #2b2b2b solid;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .button-wrapper {
      width: 200px;
      max-height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 20px 0 20px 0;
    }
  }
}

.unavailable-time-modal-container {
  background-color: #fff;

  .side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .modal-content-container {
    height: 60%;
    min-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .modal-title-label {
      font-size: 20pt;
      margin-bottom: 20px;
      font-weight: bold;
    }

    .modal-form-wrapper {
      .unavailable-time-form {
        .input-field {
          margin: 10px;
          font-size: 16pt;
          font-weight: lighter;
        }
      }
    }
  }

  .modal-footer-container {
    height: 20%;
    width: 100%;
    display: flex;
    border-top: 1px #2b2b2b solid;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .button-wrapper {
      width: 200px;
      max-height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 20px 0 20px 0;
    }
  }
}
