//top bar
.MuiToolbar-root {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row-reverse;
}

//sidebar
.MuiPaper-root {
  &.MuiDrawer-paper {
    width: 240px;
    background-color: #2b2b2b !important;
    color: white !important;
  }
}

//icons
.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  color: white;
}

//nav bar buttons
.MuiListItem-button {
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  padding-bottom: 2rem;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 0;
}

@media (min-width: 600px) {
  .MuiToolbar-regular {
    margin-left: 0px;
    display: none !important;
  }
}
