.loading-container {
  min-width: 100vw;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;

  &.show {
    display: flex;
  }
}


.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: center;
  margin: 1% 2% 0% 2%;
}
