.login-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;

  .login-apply-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 350px;

    .login-modal-button {
      width: 150px;
      height: 50px;
    }

    .login-button {
      background-color:#2b2b2b;
      color: #FFF;
    }
  }
}

.login-modal-popup {
  max-width: 60vw;
  max-height: 60vh;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    max-width: 400px;
    max-height: 750px;
    background-color: #ffffff;
    color: #4a4a4a;
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    // box-shadow: 0px 5px 30px 0px rgba(220, 222, 231, 1);

    @media screen and (min-width: 700px) {
      .login-screen-container {
        width: 80vw;
        min-height: 500px;
        height: 80vh;
      }
    }

    .heading {
      font-size: 24px;
      font-weight: 700;
    }

    .MuiFormControl-root {
      min-width: 100%;
      margin: 30px 0 0 0;

      .MuiTextField-root {
        margin: 0;
      }
    }

    .login-button {
      font-weight: 600;
      font-size: 18px;
      height: 60px;
      background-color: #2b2b2b;
    }
  }
}
