@font-face {
  font-family: generalText;
  src: url(../assets/fonts/Raleway-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: generalText;
  src: url(../assets/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: titles;
  src: url(../assets/fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: titles;
  src: url(../assets/fonts/Nunito-Bold.ttf);
  font-weight: bold;
}

body {
  font-family: generalText;
  background-color: #FFF;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: titles;
    font-weight: bold;
  }

  p {
    font-family: generalText;
  }
}
