.home-container {
  margin-left: 240px;
  margin-top: -5%;
  //removing margin on mobile
  @media (max-width: 599px) {
    margin-left: 0px;
  }

  .header {
    border-bottom: #2b2b2b solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header-label {
      font-size: 24pt;

      padding-left: 1%;
    }

    .notifications {
      margin: 25px 25px 0 0;
      .count {
        background-color: red !important;
      }
    }
  }
}

//search
.search-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .MuiTextField-root {
    width: 100%;
    max-width: 600px;
  }

  .search-button {
    background-color: #2b2b2b;
    margin-left: 20px;
    transition: all 1s;
  }
  .search-button:hover {
    transform: scale(1.1);
    background-color: #2b2b2b;
  }

  .filter-icon-button {
    color: #2b2b2b;
    font-size: 32pt;
  }
}

.trello-board-container {
  .react-trello-board {
    background-color: #ffffff !important;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .react-trello-lane {
      scroll-snap-align: center;
      background-color: #e3e3e3;

      .react-trello-card {
        border-radius: 3px;
        background-color: #fff;
      }
    }
  }
}
